.card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
  width: 350px;
  max-width: 650px;
  height: 570px;
  max-height: 570px;
  justify-content: center;
  place-content: center;
  margin: 1rem;
}

.card img {
  position: relative;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: lightgray;
  justify-content: center;
}

.card-overlay:hover {
  opacity: 0.3;
}

.card-overlay svg {
  position: relative;
  top: 25%;
  font-size: 10rem;
  color: black;
  opacity: 1;
}
.card-info {
  flex: 1;
  padding: 0 10px 10px 10px;
  margin: 0;
}

.card-title {
  font-family: Staatliches, Roboto, sans-serif;
  color: black;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.card-subtitle {
  font-family: Lato, sans-serif;
  font-size: 0.95em;
  margin: 0;
  margin-top: 1px;
  font-weight: 400;
  width: 280px;
  color: dimgray;
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.card-price {
  font-family: Staatliches, Roboto, sans-serif;
  font-size: 1.5em;
  padding: 10px 0;
  margin: 0;
  text-align: right;
  margin-right: 10px;
  vertical-align: center;
}

.card-tags {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  vertical-align: center;
}

.card-tags-text {
  margin-right: 5px;
  text-align: left;
  font-family: Staatliches, Roboto, sans-serif;
  color: dimgray;
}
